<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
     <script src="https://cdn.jsdelivr.net/gh/Tyson3101/getElement@6ec9593/src/main.js" defer></script>
     <script src="/socket.io/socket.io.js" defer></script>
     <title>Create or Join a Game!</title>
     <style>
          *,*::before ,*::after {
               font-family: Arial, Helvetica, sans-serif;
               font-weight: 600;
          }
     </style>
</head>
<body>
     <h1>Rock - Paper - Scissors</h1>
     <form id="findGame">
     <p>Join a game!
     <input id="gameId" type="text">
     <input type="submit" value="Submit">
</p>
     </form>
     <button id="createRoom">Create a room</button>
     <script src="../js/home.js" defer></script>
</body>
</html>